<div class="social">
  <span class="contacticon center">
<!--    <a href="mailto:{{ site.email | encode_email }}"><i class="fas fa-envelope"></i></a> -->
    {% if site.scholar_userid %}<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar-square"></i></a>{% endif %}
    {% if site.github_username %}<a href="https://www.github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fa fa-github-square"></i></a>{% endif %}
    {% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>{% endif %}
<!--    {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>{% endif %} -->
    {% if site.duolingo_username %}<a href="https://www.duolingo.com/{{ site.duolingo_username }}" target="_blank" title="Duolingo"><i class="fa fa-language"></i></a>{% endif %}
  </span>

  <div class="col three caption">
    {{ site.contact_note }}
  </div>
</div>
