---
---


@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.head {
    float: none;
    border-right: none
}

.wrapper {
    margin: 0 auto;
}

header {
    padding-left: 10px;
    font-family: "Noto Sans Light",sans-serif;
    font-size: 0.8rem;
}

section {
    padding-bottom: 1em;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 2em;
}

/* --- large screens --- */
@media screen and (min-width: 1024px){
    .wrapper {
        width: 900px;
    }
    
    section {
        width: 600px;
    }
}

@media screen and (min-width: 960px){
    .nav-bar {
        padding-top: 58px;
        margin-top: -58px;
    }
}
/* --- */

body {
    color: #111111;
    font-family: "Noto Sans",sans-serif;
}

p {
    font-family: "Noto Sans Light",sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Noto Sans",sans-serif;
    margin: 0 0 1em;
    color: #171717;
}

header h4 {
    margin: 0 0 0em;
}

.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 0.75rem;
}

.fa-contact-links a, .fa-contact-links a:visited {
    color: #171717;
}

.fa-contact-links a:hover, .fa-contact-links a:focus {
    color: 9A1543;  /* teal: #01A7C2; */
    font-weight: inherit;
}

.fa-cogs,
.fa-map-marker, 
.fa-envelope-open,
.fa-graduation-cap,
.ai-semantic-scholar {
/*    color: #0f192e; */
}

.fa-twitter-square {
/*    color: #55acee; */
}

.fa-linkedin {
/*    color: #007bb6; */
}

.fa-github {
/*    color: #171516; */
}

p a, p a:hover, p a:visited {
    font-family: "Noto Sans",sans-serif;
/*    font-weight: bold; */
}

a, a:visited {
    color: #6653FF;
}

a:hover, a:focus {
    color: #01A7C2;
    font-weight: inherit;
}

ul {
/*  display: block; */
    display: inline;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

tbody tr td {
    padding-left: 25px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

tbody tr td ul {
    margin: 0;
    padding-left: 0;
    font-size: 12px;
}

tbody tr td ul li {
    display: inline;
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

th {
    color: #202A2F;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

paper authors {
    display: block;
    color: #6a737d;
    font-family: "Noto Sans Light",sans-serif;    
    font-size: 12px;
}

paper venue {
/*  display: block; */
    color: #202A2F;
    font-size: 12px;
    font-weight: bold;
}

paper venue i {
    color: #9e43f0;
    font-family: Courier;
    font-style: normal;
    vertical-align: text-bottom;
}

.shared-task {

}

.research-paper {

}

.nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding-bottom: 0.9em;
    z-index: 9999;
}
    
.scrolled {
    box-shadow: 0 4px 6px -6px white;
}

h3 {
    position: relative;
}
h3:target {
    padding-top: 7em;
    margin-top: -6.5em;
}

.card {
  transition: 0.3s;
  width: 30%;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-left: 25px;
  max-width: 145px;
  font-size: 16px;
}

img {
  max-width: 235px;
}

.profile-image {
    padding-bottom: 5px;
/*  border-radius: .25rem !important;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc; */
}

.badge {
    display: inline-block;
    padding: 0.35em 0.7em;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 0.875;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
/*  color: #fff; 
    border-radius: 0.25rem; */
    border: 1px solid #D3D3D3;
}
.badge:hover {
    background-color: #F9F9F9;
}
.badge:empty {
    display: none;
}
.btn .badge {
    position: relative;
    top: -1px;
}
.badge-pill {
    padding-right: .5em;
    padding-left: .5em;
    border-radius: 5rem;
}
/* teal: 004C6C, red: CC1E4A, yellow: FFC906, blue: 223971, orange: F4801F, gray: 464646, light blue: 008CD1, gray-blue: 202A2F, deep blue: 121F45, darker-red: CB2026, almost-black:171717 */
.badge-paper {
    color: #008CD1;
}
.badge-data {
    color: #F4801F;
}
.badge-code {
    color: #004C6C; 
}
.badge-slides {
    color: #CC1E4A;
}
.badge-video {
    color: #CC1E4A;
}
.badge-site {
    color: #171717;
}
