---
---


@import "{{ site.theme }}";

.head {
    float: none;
    border-right: none
}

.wrapper {
    margin: 0 auto;
}

header {
    color: #36454F;
    padding-left: 10px;
}

section {
    padding-bottom: 1em;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 2em;
}

/* --- large screens --- */
@media screen and (min-width: 1024px){
    .wrapper {
        width: 900px;
    }
    
    section {
        width: 600px;
    }
}

@media screen and (min-width: 960px){
    .nav-bar {
        padding-top: 58px;
        margin-top: -58px;
    }
}
/* --- */

body {
    color: #6a737d;
}

h1,h2,h3,h4,h5,h6 {
    color: #36454F;
    margin: 0 0 1em;
}

a, a:visited {
    color: #1653C4;
}

a:hover, a:focus {
    color: #01A7C2;
    font-weight: inherit;
}

ul {
/*  display: block; */
    display: inline;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

tbody tr td {
    padding-left: 25px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

tbody tr td ul {
    margin: 0;
    padding-left: 0;
    font-size: 12px;
}

tbody tr td ul li {
    display: inline;
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

paper authors {
    display: block;
    color: #6a737d;
    font-size: 12px;
}

paper venue {
/*  display: block; */
    color: #444;
    font-size: 12px;
    font-weight: bold;
}

paper venue i {
    color: #9e43f0;
    font-family: Courier;
    font-style: normal;
    vertical-align: text-bottom;
}

.shared-task {

}

.research-paper {

}

.nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding-bottom: 0.9em;
    z-index: 9999;
}
.scrolled {
    box-shadow: 0 4px 6px -6px lightgray;
}

h3 {
    position: relative;
}
h3:target {
    padding-top: 7em;
    margin-top: -6.5em;
}

.card {
  transition: 0.3s;
  width: 30%;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-left: 25px;
  max-width: 145px;
  font-size: 16px;
}

img {
  max-width: 235px;
}

.badge {
    display: inline-block;
    padding: 0.35em 0.7em;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 0.875;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
/*  color: #fff; 
    border-radius: 0.25rem; */
    border: 1px solid #D3D3D3;
}
.badge:hover {
    background-color: #F9F9F9;
}
.badge:empty {
    display: none;
}
.btn .badge {
    position: relative;
    top: -1px;
}
.badge-pill {
    padding-right: .5em;
    padding-left: .5em;
    border-radius: 5rem;
}
/* teal: 004C6C, red: CC1E4A, yellow: FFC906, blue: 223971, orange: F4801F, gray: 464646, light blue: 008CD1, gray-blue: 202A2F, deep blue: 121F45, darker-red: CB2026, almost-black:171717 */
.badge-paper {
    color: #008CD1;
}
.badge-data {
    color: #F4801F;
}
.badge-code {
    color: #004C6C; 
}
.badge-slides {
    color: #CC1E4A;
}
.badge-video {
    color: #CC1E4A;
}
.badge-site {
    color: #171717;
}
